.page
  %header
    .swoosh.position-fixed
    .sticky-nav.difference.d-flex.justify-content-between
      .logo
      #nav-btn.menu.box
        <svg id="i1" class="icon" viewBox="20 30 60 40">
        <path id="top-line-1"     d="M30,37 L70,37 Z"></path>
        <path id="middle-line-1" 	d="M30,50 L70,50 Z"></path>
        <path id="bottom-line-1" 	d="M30,63 L70,63 Z"></path>
        </svg>
    #takeover-nav
      .container-fluid
        .row
          .nav-col.nav-contact.col-12.col-md-7.bg-black.d-flex.align-items-center.justify-content-center.position-relative.py-5.px-3.order-1.order-md-0
            .position-absolute.w-100.h-100.bg-topographic
            .content.position-relative
              %h2.nav-title.white.mb-5
                build your digital success with us<span class="d-inline green">&period;</span>
              %ul.contact-items.white.list-unstyled.mb-5
                %li.pb-4
                  %a.text-decoration-none{:href => "#"} +1 386-235-4062
                %li.pb-4
                  %a.text-decoration-none{:href => "#"} morgan@tactusmarketing.com
                %li
                  %a.text-decoration-none{:href => "#"} Aguadilla, PR 00603
              .social
                %a.text-decoration-none.green{:href => "#"} linkedin
                %span.mx-2.white
                  |
                %a.text-decoration-none.green{:href => "#"} facebook
                %span.mx-2.white
                  |
                %a.text-decoration-none.green{:href => "#"} instagram
          .nav-col.nav-menu.col-12.col-md-5.bg-green.d-flex.align-items-center.pt-5.pb-3.pb-md-5.px-3.px-md-5.order-0.order-md-1
            %ul.nav-items.list-unstyled
              %li.pb-3
                %a.text-decoration-none{:href => "#"} services
              %li.pb-3
                %a.text-decoration-none{:href => "#"} portfolio
              %li.pb-3
                %a.text-decoration-none{:href => "#"} contact
              %li
                %a.text-decoration-none{:href => "#"} about
  %section.hero.d-flex.align-items-center.justify-content-center
    .video-wrap
      <video autoplay="" playsinline="" loop="" muted="" id="video-bg">
      <source src="https://tactusmarketing.com/wp-content/uploads/tactus-waves-hero.mp4" type="video/mp4">
      <source src="https://tactusmarketing.com/wp-content/uploads/tactus-waves-hero.mp4" type="video/mp4">
      </video>
    .position-absolute.w-100.gradient-overlay
    .content.position-relative.text-center.mb-5
      %h1.hero-title.blend
        Where Creativity 
        %br
        &amp; Strategy Meet
  %section.two
  %section.three
  %section.four
  %section.five
.custom-cursor